#editor_container{
    position: fixed;
    right: 0;
    width: 500px;
    border: solid 1px black;
    top: 0;
}

#editor_container #editor{
    width: 100%;
    height: 340px;
}

button[action]{
    padding: 4px;
    margin: 6px;
    width: 50px;
}
